<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <span>Spotify `<fieldset></fieldset></span>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="home" nzTheme="outline"></i>
        <span>Trang chủ</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="search" nzTheme="outline"></i>
        <span>Tìm Kiếm</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="search" nzTheme="outline"></i>
        <span>Thư viện</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>

    <nz-header></nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        Bill is a cat.
      </div>
    </nz-content>

  </nz-layout>
</nz-layout>

