<!-- <div class="search-artist-item animated fadeIn" *ngIf="artist" (click)="navigate(artist)">
    <div class="search-artist-item__img-container">
        <img class="search-artist-item__img" [src]="artist.images | errorImage" [alt]="artist.name">
    </div>
    <div class="search-artist-item__title-container">
        <h4 class="search-artist-item__title">{{ artist.name }}</h4>
    </div>
    <div class="search-artist-item__bottom-container">
        <div class="search-artist-item__artists-container" *ngFor="let artist of artist.artists">
            <span class="search-artist-item__artist">{{ artist.name }}</span>
        </div>
        <div class="search-artist-item__type-container">
            <span class="search-artist-item__type">{{ artist.type | uppercase }}</span>
        </div>
    </div>
</div> -->
<ng-container class="content">
  <div class="item">
    <nz-card  nzHoverable style="width:240px" [nzCover]="coverTemplate " *ngIf="artist" (click)="navigate(artist)">
      <nz-card-meta nzTitle="{{ artist.name | uppercase}}" nzDescription="{{ artist.type | uppercase}}"></nz-card-meta>
      <nz-card-meta *ngFor="let atrtist of artist.artists">
    </nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img  [src]="artist.images | errorImage" />
    </ng-template>
  </div>

</ng-container>
