<nz-layout class="layout">
  <nz-header>
    <div class="logo" ></div>
    <button nz-button nzType="primary"><i nz-icon nzType="left" nzTheme="outline"></i></button>
    <button nz-button nzType="primary"><i nz-icon nzType="right" nzTheme="outline"></i></button>

      <button class="button" nz-button nzType="primary"  nzShape="round">Nâng cấp</button>
<div class="account">
      <a  nz-dropdown [nzDropdownMenu]="menu" >
        <nz-avatar nzIcon="user"></nz-avatar>
        UserName
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>Tài khoản</li>
          <li nz-menu-item>Hồ sơ</li>
          <li nz-menu-item>Đăng xuất</li>

        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>

</nz-layout>
