

<ng-container class="content">
  <div class="item">
    <nz-card  nzHoverable style="width:240px" [nzCover]="coverTemplate " *ngIf="newRelease" (click)="navigate(newRelease)">
      <nz-card-meta nzTitle="{{ newRelease.name | uppercase}}" nzDescription="{{ newRelease.type | uppercase}}"></nz-card-meta>
      <nz-card-meta *ngFor="let atrtist of newRelease.artists">
    </nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img class="new-release-item__img" [src]="newRelease.images | errorImage" alt="newRelease.name"/>
    </ng-template>
  </div>

</ng-container>

