<nz-layout>
  <nz-sider *ngIf="dataPlaylist">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="home" style="font-size: 20px;">
        <!-- <i nz-icon nzType="youtube" style="font-size: 16px;" nzTheme="outline"></i> -->
        <span class="item">Spotify</span>
      </li>
      <li nz-menu-item routerLink="home">
        <i nz-icon nzType="home" nzTheme="outline"></i>
        <span>Trang chủ</span>
      </li>
      <li nz-menu-item routerLink='search'>
        <i nz-icon nzType="search" nzTheme="outline"></i>
        <span>Tìm kiếm</span>
      </li>
      <li nz-menu-item routerLink='playlists'>
        <i nz-icon nzType="bar-chart"></i>
        <span>Thư viện</span>
      </li>
      <li nz-menu-item routerLink='creat_playlist'>
        <i nz-icon nzType="file-add" nzTheme="outline"></i>
        <span>Tạo playlist</span>
      </li>
      <hr />
      <ng-container>

        <div class="display" *ngFor="let item of dataPlaylist.items ; index as i">
          <input nz-input class="inputplaylist" *ngIf="item.isEditting; else contextName" [(ngModel)]="nameModel"
            (blur)="renamePlayList(item.id,i)" #myInput />
          <ng-template #contextName>
            <li nz-menu-item (contextmenu)="contextMenu($event,menu)" [routerLink]="['/playlists/',item.id]">
              {{item.name}}</li>
          </ng-template>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu *ngIf="item.owner.id == userId">
              <li nz-menu-item (click)="showInput(item.id, i)">Rename</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-layout class="right-layout">
      <nz-header>
        <div *ngIf="(user$ | async) as user; else templateName">
          <ng-container>
            <div class="wrapper" style="float: right;">
              <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="">
                <li nz-submenu [nzTitle]="user['display_name']">
                  <ul>
                    <li nz-menu-item (click)="logout()">logout</li>
                  </ul>
                </li>
              </ul>
            </div>
            <i nz-icon nzType="arrow-left" style="font-size: 20px; color: blanchedalmond; left: 20px;" nzTheme="outline"
              (click)='goBack()'></i>
          </ng-container>
        </div>
        <ng-template #templateName>

          <button (click)="login()">Login</button>
        </ng-template>

      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>


    </nz-layout>
    <!-- <nz-content>

      <router-outlet></router-outlet>
    </nz-content> -->
    <nz-footer>
      <div *ngIf="ifamsrc">
        <iframe [src]="ifamsrc|uri" width="600" height="600" frameborsrcder="0" allowtransparency="true"
          allow="encrypted-media"></iframe>
      </div>



    </nz-footer>
  </nz-layout>
</nz-layout>
